<md-sidenav-container class="demo-sidenav-container">

    <md-sidenav #sidenav mode="side" opened="true" class="app-sidenav">
        <md-list>
            <md-list-item [routerLink]="['/hello']">
                <h3 md-line>Hello</h3>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item [routerLink]="['/index']">
                <h3 md-line> Index</h3>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item [routerLink]="['/mypage']">
                <h3 md-line> Mypage </h3>
            </md-list-item>
            <md-divider></md-divider>

            <md-divider></md-divider>
        </md-list>
    </md-sidenav>

    <md-toolbar color="primary">
        <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button> Angular Match

        <span class="app-toolbar-filler"></span>
    </md-toolbar>

    <main flex class="app-content" style="overflow-y: auto;">
        <div class="outer-outlet">
            <router-outlet></router-outlet>
        </div>

        <div class="container">
            <div class="row" *ngFor="let post of posts">
                <div class="card card-block">
                    <h4 class="card-title">{{ post.title }}</h4>
                    <p class="card-text">{{post.body}}</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </main>
    <md-toolbar color="primary" class="app-footer">
        <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button> {{title}} {{message}}

        <span class="app-toolbar-filler"></span>
        <!--<app-hello></app-hello>-->

    </md-toolbar>

</md-sidenav-container>
